---
import Section from "@/components/Section.astro";
import { skills } from "@cv";
---

<Section title="Skills">
  <ul>
    {
      skills.map(({ name }) => <li>{name}</li>)
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 6px;
    color: black;
    font-size: 0.8rem;
    padding: 0.2rem 0.6rem;
  }
</style>
